* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: white;
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

label{
  margin-bottom: 0;
  color: #ddd;
  font-weight: bolder;
}

.todo-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.todo-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}


.todo-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.todo-app__body h2 {
  font-weight: 500;
  margin: 16px 0;
}

.todo-input {
  margin:.5rem auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.todo-input input, .todo-input textarea {
  display: block;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.todo-input textarea {
  height: 10rem;
  font-size: 0.65rem;
}

.todo-input textarea::placeholder {
  height: 10rem;
  font-size: 1rem;
}

.todo-input__title {
  font-weight: bold;
}

.todo-input__title__char-limit {
  display: flex;
  align-items: end;
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.labels {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-input__body {
  min-height: 175px;
}

.todo-input button {
  display: block;
  width: 100%;
  padding: .8rem;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.todos-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.todos-list__empty-message {
  text-align: center;
  color: #aaa;
}

.todo-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.todo-item__content {
  flex: 1;
}

.todo-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.todo-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.todo-item__body {
  padding: 12px; 
  font-size: 14px;
}

.todo-item__action {
  margin-top: 1rem;
  display: flex;
}

.todo-item__delete-button,.todo-item__archive-button {
  width: 100%;
  padding: .6rem;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  align-self: end;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.todo-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.todo-item__archive-button {
  color: #fff263;
}

.todo-item__archive-button:hover {
  color: #c49000;
}

.todo-item__delete-button:hover {
  color: #b00020;
}

@media only screen and (min-width: 500px) {
  .todos-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .todos-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .todo-search input {
    min-width: 400px;
  }
  .todos-list {
    grid-template-columns: repeat(4, 1fr);
  }
}